.tabList {
	width: 500px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	border: 2px solid black;
	color: #555;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	padding: 5px;
}

